
@import "/css/sidebar-main.css";


/*------------------------------------------------------------------

1. Body 
2. Header 
3. Content 
4. General 
5. Dashboard
6. Severity Colors
7. Responsive properties
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[1. Body]
*/
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url('../font/Roboto-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../font/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../font/Poppins/Poppins-Regular.ttf') format('truetype');
}




body,
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
p,
a,
td {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

html, body {
    width: 100%;
    height: 100%;
    background: #f4f6fa;
    font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #444;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    overflow-x: hidden
}

#body {
    width: 100%;
    padding: 0;
    min-height: 100vh;
    transition: all 0.3s;
}


/*------------------------------------------------------------------
[2. Header]
*/
    #body > .navbar {
        padding: 0 1.5rem;
        min-height: 54px;
        box-shadow: none;
        border-bottom: 1px solid rgba(101, 109, 119, .16);
    }


.default-light-menu {
    border: none !important;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5) inset !important;
    color: #fff;
}

    .default-light-menu:hover {
        background: #2196F3 !important;
        color: #fff;
    }


/*------------------------------------------------------------------
[3. Content]
*/
#body > .content {
    position: relative;
    padding: .5rem;
}

#body .content .page-title h3 {
    margin: 1rem 0;
}

.page-header {
    margin-top: 1.25rem;
}

.page-pretitle {
    font-size: .8rem;
    text-transform: uppercase;
    line-height: 1.6;
    color: #656d77;
}

.page-title {
    margin: 0;
    font-size: 1.5rem;
    line-height: 1.5555556;
}

.detail-subtitle {
    font-size: .8rem;
    text-transform: uppercase;
    line-height: 1.6;
}




/*------------------------------------------------------------------
[4. General]
*/
.app-logo {
    height: 30px; /* Anpassa efter ditt behov */
    width: auto; /* Bibehåller bildens proportioner */
}


.footer {
    width: 100%;
    height: 50px; /* Höjden på din footer */
    background: #fff;
    color: #5f5e5e;
    text-align: center;
    z-index: 100;
}



/*------------------------------------------------------------------
[5. Dashboard ] 
*/
.card {
    margin-bottom: 15px;
    box-shadow: rgba(35, 46, 60, .04) 0 2px 4px 0;
}

    .card .content {
        padding: 15px 15px 10px 15px;
    }

        .card .content .icon-big {
            font-size: 3em;
            min-height: 64px;
            line-height: 64px;
        }

        .card .content .number {
            font-size: 1.5em;
            text-align: right;
            font-weight: bolder;
        }

        .card .content .footer {
            background-attachment: fixed;
            position: relative;
            padding: 0;
            line-height: 30px;
        }

        .card .content .stats {
            display: inline-block;
            color: #a9a9a9;
        }





/*------------------------------------------------------------------
[6. Severity Colors] 
*/
.lowSeverity {
    color: #00b5ad !important;
}

.criticalSeverity {
    color: #6435c9 !important;  
}

.moderateSeverity {
    color: #f06e12ea !important;
}

.highSeverity {
    color: red !important;
}

.stats {
    color: #5f5e5e !important;
}



/*------------------------------------------------------------------
[7. Responsive properties] 
*/


@media (max-width: 680px) {
    #body.active .navbar-collapse {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }

    .nav-dropdown .nav-link-menu {
        position: fixed !important;
        top: 52px !important;
        width: 100% !important;
        text-align: center !important;
        font-size: large !important;
    } 

}

@media (min-width: 200px) {
    .navbar-expand-lg .navbar-collapse {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }

    .navbar-expand-lg .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
    }
}

